<form
  method="post"
  action="/edit/:id"
  enctype="multipart/form-data"
  class="mt-5"
>
  <input
    type="hidden"
    name="old_gambar_path"
    value="<%= books.gambar_path %>"
  />
  <input type="hidden" name="id" value="<%= books.id %>" />
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Judul Buku"
      name="judul"
      value="<%=books.judul%>"
    />
    <label for="floatingInput">Judul</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Nama Penulis"
      name="penulis"
      value="<%= books.penulis %>"
    />
    <label for="floatingInput">Penulis</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control"
      id="floatingInput"
      placeholder="Tahun Buku Diterbitkan"
      name="tahunTerbit"
      value="<%= books.tahunTerbit %>"
    />
    <label for="floatingInput">Tahun Terbit</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Kategori Buku"
      name="kategori"
      value="<%= books.kategori %>"
    />
    <label for="floatingInput">Kategori</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control"
      id="floatingInput"
      placeholder="Stok Buku"
      name="stok"
      value="<%= books.stok %>"
    />
    <label for="floatingInput">Stok</label>
  </div>
  <div class="mb-3">
    <% if (books.gambar_path) { %>
    <img
      src="/uploads/<%= books.gambar_path %>"
      alt="Gambar Buku"
      class="img-thumbnail mb-2"
      style="width: 150px; height: auto"
    />
    <% } %>
    <input
      type="file"
      name="gambar_path"
      accept="image/*"
      class="custom-file-input"
      id="inputGroupFile01"
    />
  </div>

  <div class="nav justify-content-end">
    <button type="submit" class="btn btn-dark">Update Data</button>
  </div>
</form>
