<!-- Hero Section -->
<div class="bg-primary text-white py-5 text-center">
  <h1>Perpustakaan</h1>
  <p>Temukan buku pilihaanmu!</p>
</div>

<!-- Daftar Buku -->
<div class="container my-5">
  <h2 class="text-center mb-4">Daftar Buku</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% books.forEach(book => { %>
    <div class="col">
      <div class="card h-100">
        <img
          src="/uploads/<%= book.gambar_path %>"
          class="card-img-top"
          alt="<%= book.judul %>"
          onerror="this.src=`https://via.placeholder.com/150`;"
        />
        <div class="card-body">
          <h5 class="card-title"><%= book.judul %></h5>
          <p class="card-text">
            Penulis: <%= book.penulis %><br />
            Kategori: <%= book.kategori %><br />
            Tahun Terbit: <%= book.tahun_terbit %>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-primary">Tersedia : <%= book.stok %></span>
            <button class="btn btn-sm btn-primary">
              Tambah <i class="bi bi-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
